/***** Form Panel Toolbars **********************************************************************************/

/* genapp small toolbar Buttons */
.genapp-tb-btn .x-btn-mc .x-btn-text{
    overflow:hidden !important;
    width:15px !important;
    height:15px !important;
    float:right !important;
}
.genapp-tb-btn .x-btn-over td{
    background: transparent none no-repeat scroll 0% !important;
}
/* genapp toolbar Check Buttons */
.genapp-tb-btn-check{
    background-position: 0 -315px !important;
}
.x-btn-over .genapp-tb-btn-check{
    background-position: -15px -315px !important;
}
.x-panel-unchecked .genapp-tb-btn-check{
    background-position: 0 -300px !important;
}
.x-panel-unchecked .x-btn-over .genapp-tb-btn-check{
    background-position: -15px -300px !important;
}
/* genapp toolbar Add Buttons */
.genapp-tb-btn-add{
    background-position: 0 -240px !important;
}
.genapp-tb-btn-remove{
    background-position: 0 -255px !important;
}
.x-btn-over .genapp-tb-btn-add{
    background-position: -15px -240px !important;
}
.x-btn-over .genapp-tb-btn-remove{
    background-position: -15px -255px !important;
}
.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-style:solid;
    border-width:0 0 1px 0;
}
/*************************************************************************************************/

/***** Query Form Panel **************************************************************************/

.genapp-query-request-panel-ct-xcollapsed-vertical-label-div {
    overflow: auto;
    width:25px;
    height:150px;
    background-repeat: no-repeat;
}
.genapp-query-field-form-panel {
    margin-bottom:5px;
}
.genapp_query_formspanel .x-panel-ml {
    padding-left:1px;
}
.genapp_query_formspanel .x-panel-mc {
    padding:0;
}
.genapp_query_formspanel .x-panel-mr {
    padding-right:1px;
}
.genapp_consultation_panel .x-fieldset {
    padding:5px;
}
.genapp_consultation_panel .x-fieldset legend {
    margin-bottom:10px;
   
}
/***** genapp_query_panel ******************************************************************/

.genapp_query_panel_tbar {
    background-position:0 -1px;
}
.genapp_query_panel .x-panel-mc {
    padding: 0px;
}
.genapp_query_panel_dataset_panel .x-panel-mc {
    padding: 6px 0 0;
}
/***** Center Panel ************************************************************************/

.genapp-query-center-panel-tab-strip-link {
    margin-left:10px;
}
.genapp-query-center-panel-csv-export-alert h3{
    margin:15px 0 5px -30px;
}
ul.x-tab-strip li.genapp-query-center-panel-tab-strip-top-button{
    float:right;
}
.genapp-query-center-panel-tab-strip-top-button .x-btn-noicon .x-btn-small .x-btn-text{
    height:15px;
}
/*************************************************************************************************/

/***** Map Panel *********************************************************************************/
.genapp_query_mappanel .x-panel-ml{
    padding-left:1px;
}
.genapp_query_mappanel .x-panel-mc{
    padding:0;
}
.genapp_query_mappanel .x-panel-mr{
    padding-right:1px;
}
.feature-info {
    height:16px !important;
    width:16px !important;
}
.zoomin {
    height:16px !important;
    width:16px !important;
}
.zoomout {
    height:16px !important;
    width:16px !important;
}
.zoomfull {
    height:16px !important;
    width:16px !important;
}
.pan {
    height:16px !important;
    width:16px !important;
}
.back {
    height:16px !important;
    width:16px !important;
}
.next {
    height:16px !important;
    width:16px !important;
}
.olControlScale {
    bottom:1.5em;
}
.genapp-map-panel-legal-mentions {
    position:absolute;
    z-index:15000;
    bottom:0;
    display:block;
    position:absolute;
    left:3px;
    white-space:nowrap;
}
/*************************************************************************************************/

/***** Grid Panel ************************************************************************/

.genapp-query-grid-map{
    overflow:hidden !important;
    width:16px !important;
    height:16px !important;
    cursor: pointer;
    margin:0 4px 0 0;
    float:right;
}
.genapp-query-grid-slip{
    overflow:hidden !important;
    width:16px !important;
    height:16px !important;
    cursor: pointer;
    float:left;
}
/*************************************************************************************************/

/** Details Panel ************************************************************************/

.genapp-query-details-panel-ct-xcollapsed-vertical-label-div{
    overflow: auto;
    width:25px;
    height:150px;
    background-repeat: no-repeat;
}
.genapp-query-details-panel .x-panel-body{
    padding:5px;
}
.genapp-query-details-panel img{
    width:300px;
    float:left;
    margin:6px 10px 10px 0;
}
.genapp-query-details-panel fieldset,
.genapp-query-details-panel table{
    width:287px;
    float:left;
    margin:0 10px 10px 0;
    padding:5px;
}
.genapp-query-details-panel table{
    width:300px;
}
.genapp-query-details-panel th{
    padding:3px;
}
.genapp-query-details-panel td{
    padding:3px;
}
.genapp-query-details-panel caption{
    padding-bottom:5px;
}
.genapp-query-details-panel legend{
    padding:0 5px;
}
/*************************************************************************************************/

/***** Criteria Form Panel Body ************************************************************************/

.ext-ie7 .genapp-query-criteria-panel .x-panel-body{
    display:inline; /* To collapse correctly the panel if empty */
    zoom:0; /* To collapse correctly the panel if empty */
}
.ext-ie7 .genapp-query-criteria-panel .x-panel-tbar{
    display:inline;
}
.genapp-query-criteria-panel .x-form-item {
    margin:3px 0;
    font-size:11px;
}
.ext-ie7 .genapp-query-criteria-panel .x-form-item {
    margin:0 0 3px 0 !important;
}
.ext-ie7 .genapp-query-criteria-panel .trigger-field {
    margin:0 !important;
}
.ext-ie7 .genapp-query-criteria-panel .first-child {
	margin-top:5px !important;
}
.filterDateSelect{
    float: left;
    /*margin-left: -27px;*/
    position:relative;
    z-index:2;
}
.ext-ie .filterDateSelect{
    margin-left: 3px;
    position:static;
}
.filterBin{
    cursor:pointer;
    height:12px;
    width:12px;
    margin: 4px 5px 0px 5px;
    float:left;
    position:relative;
    z-index:2;
}
.ext-ie .filterBin{
    position:static;
}
.labelNextBin{
    display:inline !important;
    clear: none !important;
}
/* Bug ext : the right combo image is not correctly positioned by default */
.ext-safari .x-form-field-wrap .x-form-trigger, .ext-gecko .x-form-field-wrap .x-form-trigger {
    right: inherit;
}
/*************************************************************************************************/

/***** Column Form Panel Body ************************************************************************/

.ext-ie7 .genapp-query-columns-panel .x-panel-body{
    display:inline; /* To collapse correctly the panel if empty */
    zoom:0; /* To collapse correctly the panel if empty */
}
.ext-ie7 .genapp-query-columns-panel .x-panel-tbar{
    display:inline;
}
.columnLabelBin{
    cursor:pointer;
    display:inline !important;
    margin:0 5px;
}
.columnLabel{
    display:inline !important;
}
.genapp-query-column-item{
    margin: 5px 0;
}
/*************************************************************************************************/

/***** Map Right panel *********************************************************************/

.genapp-query-map-right-panel .x-tool{
    position:absolute;
    right:0;
    z-index:1;
    margin:4px;
}
.genapp-query-map-right-panel-xcollapsed-vertical-label-div{
    overflow: auto;
    width:25px;
    height:150px;
    background-repeat: no-repeat;
}
.genapp-query-legend-panel img {
    margin-bottom:10px;
    /*width:160px;*/
}
.x-tree .x-panel-body {
    background-color: transparent;
}
.genapp-query-layer-tree-panel .x-tree-node-icon {
    display:none;
}
/*************************************************************************************************/

/***** Bug Ext (The form items don't move with the scroll bar into IE7) *************************************/

.ext-ie  .x-fieldset .x-panel-body {position:static;}
.ext-ie .x-toolbar {position:static;}
.ext-ie .x-form-item-label {position:static;}
.ext-ie .x-form-element{position:static;}
.ext-ie .x-form-field-wrap{position:static;}
.ext-ie .x-form-field-wrap input{position:static;}
.ext-ie .x-form-field-wrap .x-form-text{position:static;}
.ext-ie .x-form-text{position:static;vertical-align:top;}
.ext-ie .x-form-trigger {position:static;}

.ext-ie .x-form-item label{position:static;}/*
.ext-ie .x-form-field-wrap{position:static;}
.ext-ie .x-form-element{position:static;}
.ext-ie .x-form-field-wrap .x-form-trigger{position:static;}
.ext-ie .x-form-text{vertical-align:top;}

.ext-ie .x-tab-strip-wrap {position:static;}
.ext-ie .x-tab-strip-top .x-tab-strip-active .x-tab-right {position:static;}
.ext-ie .x-tab-strip-top .x-tab-right {position:static;}

.ext-ie TD .x-form-text {position:static;}

.ext-ie .x-toolbar {position:static;}
.ext-ie .x-toolbar table {float:left;}
.ext-ie .x-paging-info {position:static;float:right;margin-top:5px;margin-right:5px;}*/
.ext-ie .x-toolbar-cell .x-form-text {position:static;}
.ext-ie7 .x-form-text{
	margin:0;
}
.ext-ie7 .x-small-editor .x-form-text{
    margin:0 !important;
}
.ext-ie7 .x-tip .x-tip-header{
	display: inline; /* to hide the empty header div */
}
/*************************************************************************************************/

/***** Date Range Picker *********************************************************************/

.x-menu-plain .x-date-picker {
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.x-menu-date-range-item-range-date-button {
    margin-left:82px;
}
.fr .x-menu-date-range-item-range-date-button {
    margin-left:70px;
}
.x-date-range-menu {
    border:1px solid !important;
    padding:0 !important;
}
.x-date-range-menu .x-menu-list {
    padding:0;
}
.x-menu-date-range-item .x-panel-btns {
    padding:0;
}
.x-menu-date-range-item .x-panel-btns .x-date-bottom {
    padding:0;
}
.ext-ie .x-menu-date-range-item .x-panel-btns .x-date-bottom {
    margin: 0 0 -1px;
}
.x-menu-date-range-item .x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-top:0 none;
}
.x-menu-date-range-item .x-panel-bbar .x-toolbar, .x-panel-tbar .x-toolbar {
    border-width:0;
}
.x-menu-date-range-item .x-panel-body {
    border-width:0;
    margin: 5px;
}
.x-date-mp {
    border-top-style: solid;
    border-top-width: 1px;
}
/*************************************************************************************************/

/***** Number Range Picker *********************************************************************/

.x-menu-number-range-item .x-form-item label{
    margin:0;
}
.x-menu-number-range-item .x-form-item{
    margin:5px 0 0 5px;
}
.x-menu-number-range-item .x-panel-btns{
    padding:0;
}
.x-number-range-menu .x-menu-list{
    padding:0;
}
.x-menu-number-range-item .x-panel-body{
    border: none 0;
}
.x-menu-number-range-item .x-form-field-wrap .x-form-trigger{
    background-position:0px 0px;
}
.x-menu-number-range-item .x-btn-noicon .x-btn-small .x-btn-text{
    height:12px;
}
/*************************************************************************************************/

/***** Geometry Field *********************************************************************/

.x-form-field-wrap .x-form-map-trigger{
    background-position:0px 0px;
}
.drawpoint {
    height:20px !important;
    width:20px !important;
    background-position:center center;
}
.drawline {
    height:20px !important;
    width:20px !important;
    background-position:center center;
}
.drawpolygon {
    height:20px !important;
    width:20px !important;
    background-position:center center;
}
.modifyfeature {
    height:20px !important;
    width:20px !important;
    background-position:center center;
}
.deletefeature {
    height:20px !important;
    width:20px !important;
    background-position:center center;
}
.zoomstations {
    height:20px !important;
    width:20px !important;
    background-position:center center;
}
/*************************************************************************************************/

/***** Tip (Tooltip) *****************************************************************************/

.ext-gecko .x-tip .x-tip-tc {
    /*padding-top:0; Cause issue with the form error msg display */
}
/*************************************************************************************************/

/***** Ext to genapp *****************************************************************************/

.x-tab-panel-body {
    border:none;
    background-color:transparent;
}
/*************************************************************************************************/


/***** Predefined Request Panel ******************************************************************/

.genapp-predefined-request-criteria-panel-criteria-hint {
    padding:10px 0px 20px;
    width:305px !important;
}
.genapp-predefined-request-criteria-panel-footerTBar {
    padding:10px 0px 0;
}
.genapp-predefined-request-criteria-panel-intro, .genapp-predefined-request-criteria-panel-error-msg {
    padding:7px 0 0;
}
.genapp-predefined-request-criteria-card-panel .loading-indicator {
    margin:5px 0 0;
    height:16px !important;
    width:298px !important;
}
.genapp-predefined-request-east-panel fieldset {
    border:1px solid #DEDEDE;
}
h4.genapp-predefined-request-grid-panel-description-title {
    margin: 5px 0 0 30px;
}
p.genapp-predefined-request-grid-panel-description-text {
	margin: 5px 0 10px 30px;
}
/*************************************************************************************************//***** Form Panel Toolbars **********************************************************************************/
.genapp-tb-btn .x-btn-mc .x-btn-text{
    background:transparent url(../../../extjs/resources/images/green-ifn/panel/tool-sprites.gif) no-repeat scroll;
}
.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-color:#75AA1C;
}

/*************************************************************************************************/

/***** Query Form Panel************************************************************************/
button.genapp-query-panel-predefined-request-save-button-icon {
    background-image: url(../images/disk.png);
}
.genapp-query-request-panel-ct-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/request.gif);
}
.fr .genapp-query-request-panel-ct-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/request_fr.gif);
}
.genapp_query_formspanel_cancel_button button{
    font-weight: bold; 
}
.genapp_query_formspanel_reset_button button{
    font-weight: bold; 
}
.genapp_query_formspanel_search_button button{
    font-weight: bold; 
}
.genapp-query-field-form-panel .x-panel-ml,.genapp-query-field-form-panel .x-panel-mr{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/left-right.gif);
}
.genapp-query-field-form-panel .x-panel-bl,.genapp-query-field-form-panel .x-panel-br{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/corners-sprite.gif);
}
.genapp-query-field-form-panel .x-panel-bc{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/top-bottom.gif);
}
/*************************************************************************************************/

/***** Center Panel ************************************************************************/
.genapp-query-center-panel-tab-strip-link{
    text-decoration: underline;
}
.genapp-query-center-panel-csv-export-alert h2{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1em;
    color:#333333;
    line-height:2em;
}
.genapp-query-center-panel-csv-export-alert h3{
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    color:#333333;
    border-bottom:none;
    line-height:1.5em;
    text-transform:none;
}
.genapp-query-center-panel-csv-export-alert div ul li{
    font-size: 0.8em;
    font-weight: normal;
    text-decoration: none;
    list-style-type: disc;
    color:#333333;
}
.genapp-query-center-panel-grid-csv-export-menu-item-icon{
    background-image: url(../images/page_excel.png);
}
.genapp-query-center-panel-aggregation-csv-export-menu-item-icon{
    background-image: url(../images/page_excel.png);
}
.genapp-query-center-panel-aggregation-button-menu{
    background-image: none !important;
}
.x-btn button.genapp-query-center-panel-print-map-button-icon{
    background-image: url(../images/printer.png);
}
/*************************************************************************************************/

/***** Map Panel *********************************************************************************/
.feature-info {
    background-image:url(../images/information.png) !important;
}
.zoomin {
    background-image:url(../images/magnifier_zoom_in.png) !important;
}
.zoomout {
    background-image:url(../images/magnifier_zoom_out.png) !important;
}
.zoomfull {
    background-image:url(../images/world.png) !important;
}
.pan {
    background-image:url(../images/icon_pan.png) !important;
}
.back {
    background-image:url(../images/arrow_rotate_clockwise.png) !important;
}
.next {
    background-image:url(../images/arrow_rotate_anticlockwise.png) !important;
}
.genapp-map-panel-legal-mentions a{
    font-family:Arial;
    font-size:smaller;
    color:#333333;
}
.genapp-map-panel-legal-mentions a:visited {
    color:#333333;
}
.genapp-map-panel-legal-mentions a:hover {
    color:#333333;
    text-decoration: underline !important;
}
/*************************************************************************************************/

/***** Grid Panel ************************************************************************/
.genapp-query-grid-map{
    background:transparent url(../images/map_magnify.png) no-repeat scroll !important;
}
.genapp-query-grid-slip{
    background:transparent url(../images/page_white_magnify.png) no-repeat scroll !important;
}
/*************************************************************************************************/


/** Details Panel ************************************************************************/
.genapp-query-details-panel .x-tab-strip-top .x-tab-right,
.genapp-query-details-panel .x-tab-strip-top .x-tab-left,
.genapp-query-details-panel .x-tab-strip-top .x-tab-strip-inner {
    background-image:url(../../../extjs/resources/images/green-ifn/tabs/tabs-sprite-lighter.gif);
}
.genapp-query-details-panel-ct-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/details.gif);
}
.fr .genapp-query-details-panel-ct-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/details_fr.gif);
}
.genapp-query-details-panel p{
    color:#606060;
}
.genapp-query-details-panel table{
    border:1px solid #909090;
    border-collapse:collapse;
    border-spacing:0;
}
.genapp-query-details-panel th{
    color:#505050;
    font-weight: bold;
    border:1px solid #909090;
    text-align:center;
}
.genapp-query-details-panel td{
    color:#606060;
    border:1px solid #909090;
    text-align:center;
}
.genapp-query-details-panel legend,
.genapp-query-details-panel caption{
    font-weight:bold;
    color:#505050;
    font-size:12px;
}
/*************************************************************************************************/


/***** Criteria Form Panel Body ************************************************************************/
.filterBin{
    background:transparent url(../images/bin.gif) no-repeat scroll !important;
}
.labelNextBin{

    color: #606060;
}
/*************************************************************************************************/

/***** Column Form Panel Body ************************************************************************/
.columnLabelBin{
    background:transparent url(../images/bin.gif) no-repeat scroll !important;
}
.columnLabel{
    color: #606060;
}
.x-toolbar div.xtb-text{
    color: #404040;
}
/*************************************************************************************************/

/***** Map Right panel *********************************************************************/
.genapp-query-map-right-panel-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/layers_and_legends.gif);
}
.fr .genapp-query-map-right-panel-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/layers_and_legends_fr.gif);
}
/*************************************************************************************************/

/***** Date Range Picker *********************************************************************/
.x-menu-date-range-item .x-panel-body{
    background-color: #e0ecbc;
}
.x-menu-plain .x-date-picker {
    border-color:#75AA1C;
}
.x-date-range-menu {
    border-color:#75AA1C !important;
}
.x-date-mp {
    border-color:#75AA1C;
}
/*************************************************************************************************/

/***** Number Range Picker *********************************************************************/
.x-menu-number-range-item .x-panel-footer{
    background-image:url(../../../extjs/resources/images/green-ifn/shared/glass-bg.gif);
    border-top:#75AA1C 1px solid;
}
.x-menu-number-range-item label{
    color:#606060;
}
.x-menu-number-range-item .x-form-field-wrap .x-form-trigger{
    background-image:url(../../../extjs/resources/images/green-ifn/form/clear-trigger.gif);
}
/*************************************************************************************************/

/***** Geometry Field *********************************************************************/
.x-form-field-wrap .x-form-map-trigger{
    background-image: url(../images/green-ifn/map-trigger.gif);
}
.drawpoint {
    background-image:url(../images/mapfish/draw_point_off.png) !important;
}
.drawline {
    background-image:url(../images/mapfish/draw_line_off.png) !important;
}
.drawpolygon {
    background-image:url(../images/mapfish/draw_polygon_off.png) !important;
}
.modifyfeature {
    background-image:url(../images/mapfish/move_vertex_off.png) !important;
}
.deletefeature {
    background-image:url(../images/mapfish/cross.png) !important;
}
.zoomstations {
    background-image:url(../images/mapfish/arrow_in.png) !important;
}
/*************************************************************************************************/

/**** Panel **************************************************************************************/
.x-panel-ml, .x-panel-mr{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/left-right-bwrap.gif);
}
.x-panel-bl, .x-panel-br{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/corners-sprite-bwrap.gif);
}
.x-panel-bc{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/top-bottom-bwrap.gif);
}
/*************************************************************************************************/

/**** Input **************************************************************************************/
.x-toolbar .x-form-field-trigger-wrap input{
    border-top: 1px solid #75AA1C !important;
    border-right: 1px solid #b7cc7f !important;
    border-bottom: 1px solid #75AA1C !important;
    border-left: 1px solid #75AA1C !important;
}
.x-form-field-trigger-wrap input{
    border: 1px solid #b7cc7f !important;
}
.x-grid-panel .x-toolbar input{
    background-color:#e0ecbc;
    border: 1px solid #75AA1C;
    height:14px !important;
}
/*************************************************************************************************/

/***** Predefined Request Panel ******************************************************************/

.genapp-request-criteria-panel-criteria-hint {
    font-style: italic;
}
.genapp-predefined-request-grid-panel-description-title {
    font-weight: bold;
}
/*************************************************************************************************/

/***** Card Panel ********************************************************************************/

.genapp-card-panel > .x-tab-panel-header > .x-tab-strip-wrap > ul.x-tab-strip-top {
    background-color:#FFFFFF;
    background-image:none;
}
/*************************************************************************************************/