<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */


/**
 * Default view for the harmonized data querying module.
 * @package views
 */
?>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/extjs/ext-all.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/OpenLayers/OpenLayers.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/mapfish/MapFish.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/mapfish/mapfish_patches.js"></script>

<script type="text/javascript" src="<?=PATH_BASE_URL?>/harmonizationquery/getGridParameters" ></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/map/getMapParameters" ></script>

<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/extjsux/rowExpander/RowExpander.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/extjsux/basiccheckbox/BasicCheckBox.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/extjsux/datePatch/datePatchExtjs3.1.1.js"></script>

<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/openlayers/FeatureInfoControl.js"></script>

<!--  Warning : Do not edit the following lines, they are used by the build script -->

<!-- Production mode start -->
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/genapp.pack-min.js"></script>
<!-- Production mode end --> 

<!-- Debug mode start
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/FieldForm.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/MapPanel.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/ConsultationPanel.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/PredefinedRequestPanel.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/CardPanel.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/DetailsPanel.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/form/DateRangeField.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/menu/DateRangeMenu.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/DateRangePicker.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/form/NumberRangeField.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/menu/NumberRangeMenu.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/form/TwinNumberField.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/NumberRangePicker.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/widgets/form/GeometryField.js"></script>
< Debug mode end -->

<!-- Translations -->
<?php $locale = Zend_Registry::get('Zend_Locale'); ?>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/extjs/src/locale/ext-lang-<?=$locale?>.js"></script>
<?php if ($locale != 'en') {?>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/genapp/source/locale/genapp-lang-<?=$locale?>.js"></script>
<?php } ?>
<!-- patch eforest -->
<script type="text/javascript" src="<?=PATH_BASE_URL?>/patch/patch-eforest.js"></script>

<link rel="stylesheet" type="text/css" href="<?=PATH_BASE_URL?>/js/extjs/resources/css/ext-all.css" />

<!-- Blue theme (Todo)
<link rel="stylesheet" type="text/css" href="<?=PATH_BASE_URL?>/js/extjs/resources/css/xtheme-blue.css" />
<link rel="stylesheet" type="text/css" href="<?=PATH_BASE_URL?>/js/genapp/resources/css/genapp-blue-all.css" />
-->

<!-- Gray extend theme -->
<link rel="stylesheet" type="text/css" href="<?=PATH_BASE_URL?>/js/extjs/resources/css/xtheme-gray-extend.css" />
<link rel="stylesheet" type="text/css" href="<?=PATH_BASE_URL?>/js/genapp/resources/css/genapp-gray-extend-all.css" />

<!-- Green ifn theme
<link rel="stylesheet" type="text/css" href="<?=PATH_BASE_URL?>/js/extjs/resources/css/xtheme-green-ifn.css" />
<link rel="stylesheet" type="text/css" href="<?=PATH_BASE_URL?>/js/genapp/resources/css/genapp-green-ifn-all.css" />
 -->

<link rel="stylesheet" type="text/css" href="<?=PATH_BASE_URL?>/js/extjsux/basiccheckbox/BasicCheckBox.css" />
<link rel="stylesheet" type="text/css" href="<?=PATH_BASE_URL?>/css/extjsux.css" />

<script type="text/javascript">
    Ext.onReady(function(){
    	Genapp.base_url = "<?=PATH_BASE_URL?>/";
    	Genapp.ajax_query_url = "<?=PATH_BASE_URL?>/harmonizationquery/";
        Genapp.buildApplication();
        Genapp.cardPanel.on('resizewrapper',Genapp.util.resizeWrapper);
    });
</script>

<div id='page'></div>


<!-- Fields required for history management -->
<form id="history-form" class="x-hidden">
    <input type="hidden" id="x-history-field" />
    <iframe id="x-history-frame"></iframe>
</form>