/***** Basic Checkbox ************************************************************************/

.x-sm-form-check.checkbox_off {
    background-image:url(../js/extjs/resources/images/default/form/checkbox.gif);
    background-repeat:no-repeat;
    background-position:0 0;
    height:13px !important;
    width:13px !important;
}
.x-sm-form-check.checkbox_on {
    background-image:url(../js/extjs/resources/images/default/form/checkbox.gif);
    background-repeat:no-repeat;
    background-position:0 -13px;
    height:13px !important;
    width:13px !important;
}
.x-sm-form-check.checkbox_on_dled
{
    background-image: url(../js/extjs/resources/images/default/form/checkbox.gif);
    background-repeat: no-repeat;
    background-position:0 -26px;
    height:13px !important;
    width:13px !important;
}

.x-sm-form-check.checkbox_off_dled
{
    background-image: url(../js/extjs/resources/images/default/form/checkbox.gif);
    background-repeat: no-repeat;
    background-position:0 0;
    height:13px !important;
    width:13px !important;
}
input.x-form-checkbox
{
    left:0 !important;
    top:0 !important;
}
.x-sm-form-check-innerwrap{
    margin-top:5px;
}
/*************************************************************************************************/