* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	margin-bottom: 1px;
}

h1,h2,h3 {
	margin: 0.5em 0;
	color: #135CAE;
}

.main-body h1,.main-body h2 {
	text-align: center;
}

ul.errors {
	color: #FF0000;
}

img {
	border: 0 none;
}

ul,ol {
	margin-left: 2em;
}

fieldset {
	padding: .5em;
}

body {
	background-color: #CCCCCC;
	background-image: url(../img/CCCCCC.png);
	background-repeat: repeat-x;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 76.8%;
	line-height: 1.8em;
	margin: 1em 0;
}

.presentation {
	padding-top: 40px;
	width: 100%;
	height: 100%;
}

.left-column {
	width: 250px;
	float: left;
}

.imageforet {
	text-align: center;
	font-style: italic;
}

#wrapper {
	background-color: #FFFFFF;
	margin: 0 auto;
	text-align: left;
	margin: 0 40px;
}

#wrapper .inside {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

#banner {
	color: #CCCCCC;
	margin: 10px 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

#top {
	background-color: #EDEDED;
	border-bottom: 1px dotted #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	padding: 2px 5px;
	margin: 10px 0;
}

#footer {
	background-color: #EDEDED;
	border-bottom: 1px dotted #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	clear: both;
	height: 10px;
	margin-bottom: 0px;
	margin-top: 0;
}

#bottom {
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	margin: 0 40px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

a:visited {
	text-decoration: none;
	color: #135CAE;
}

h3 {
	border-bottom: 1px dotted #CCCCCC;
	display: block;
	font-size: 1.7em;
	font-weight: normal;
	line-height: 1.7em;
	margin-left: 20px;
	padding: 0;
	text-transform: uppercase;
}

#contextual {
	padding-left: 30px;
}

#contextual p {
	margin: 0;
}

#contextual li {
	margin-left: 15px;
}

#divJRCRequestForm {
	position: absolute;
	left: 5px;
	width: 250px;
}

#queryForm {
	position: absolute;
	top: 180px;
	left: 5px;
	width: 250px;
}

#divQueryResult {
	position: absolute;
	top: 180px;
	left: 260px;
	right: 250px;
}
/** Menu **/
div.moduletable_menu {
	margin: 30px 0;
}

div.moduletable_menu li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

div.moduletable_menu a:hover {
	background-color: #EEEEEE;
	color: #666666;
	text-decoration: none;
}

div.moduletable_menu a:link,div.moduletable_menu a:active,div.moduletable_menu a:visited
	{
	background-image: url(../img/greybullet2.png);
	background-position: 5px 50%;
	background-repeat: no-repeat;
	border-bottom: 1px dotted #CCCCCC;
	color: #606060;
	display: block;
	padding: 3px 5px 3px 25px;
}

#pathway {
	float: left;
}

.field_label {
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
}

.criteria_label {
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

.result_label {
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

.login-form,.create-user-form,.data-harmonization-form,.create-data-submission-form,.create-plot-location-submission-form,.create-strata-submission-form,.show-upload-strata-form,.create-aggregation-form,.create-interpolation-form,.show-upload-data-form,.show-upload-plot-location-form,.show-change-password-form,.show-create-role-form,.show-edit-role-form,.show-edit-user-form
	{
	width: 300px;
	text-align: left;
	background-color: #EDEDED;
	padding: 0px 40px;
	border-bottom: 1px dotted #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	margin: 50px auto;
}

.login-form,.show-change-password-form {
	width: 150px;
}

.show-upload-data-form,.show-upload-plot-location-form {
	width: 1000px;
}

.show-create-role-form label input,.show-edit-role-form label input {
	margin-right: 10px;
}

tr.sectiontableentry0 td {
	background-color: #EDEDED;
	border-bottom: 1px dotted #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	padding: 3px;
	text-align: left;
}

tr.sectiontableentry1 td {
	padding: 3px;
	text-align: left;
}

.csv-export {
	background-image: url(../img/table_save.png) !important;
}

.sectiontableentry0 img,.sectiontableentry1 img {
	height: 16px;
	border: 0 none;
	margin: 0 0 0 10px;
}

.status-img {
	height: 16px;
	border: 0 none;
	margin: 0 10px 0 0;
}

.error-msg {
	text-align: center;
	margin: 100px 0 0;
}

.bottom-menu {
	text-align: center;
	margin: 40px 0 0;
}

.sectiontable {
	margin: 30px auto;
}

.subTableLink {
	text-align: center;
}

.tempStatusDiv {
	display: inline;
}

.content {
	margin: 50px;
	color: #606060;
}

.content h2 {
	text-align: left;
	margin: 20px 0 10px;
}

.content p {
	margin-left: 20px;
}

img.percentImage {
	background: white url(../img/percentImage_back.png) top left no-repeat;
	padding: 0;
	margin: 5px 0 0 0;
	background-position: 1px 0;
}

.percentLabel {
	
}

.percentText {
	
}

.tabRecap {
	background-color: #CCCCCC;
}

.result_table {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	text-align: center;
	border-collapse:collapse;
	vertical-align:middle;
	margin: 10px;	
}

.result_table th {
	border-width: 1px;
	border-style: solid;
	padding: 3px;
	background-color: #CCCCCC;
}

.result_table td {
	border-width: 1px;
	border-style: solid;
	padding: 3px;
}

/*DL, DT, DD TAGS LIST DATA*/
.select-aggregation-filters-form dl {
    width:300px;
    margin-bottom: 30px;
}
 
.select-aggregation-filters-form dl dt {
    font-weight:bold;
    padding:5px;
    width:250px;
    text-align: left;
    clear:left;
}
 
.select-aggregation-filters-form dl dd {
	float:right; 
    padding:5px 0;
    align:right;
    clear:right;
    margin-top: -30px; /* vilaine magouille pour avoir la checkbox en face du libellé */
}


