<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * Default view for the harmonization module.
 * @package views
 */
?>

<h1>
   Data harmonization module
</h1>

<div class="left-column">
<div class="moduletable_menu">

<ul id="appmenu" class="menu">

<?php
$user_session = new Zend_Session_Namespace('user');
$role = $user_session->role;
if ($role->isEuropeLevel == '1') {
?>
<li>
<a href="<?= $this->url(array('controller'=>'harmonization','action'=>'show-harmonized-history'), null, true) ?>">Show Harmonization History</a>
</li>
<?php } ?>

<!-- 
<li>
<a href="<?= $this->url(array('controller'=>'harmonization','action'=>'show-configure-harmonization-page'), null, true) ?>">Configure the harmonization rules</a>
</li>
-->
 
<li>
<a href="<?= $this->url(array('controller'=>'harmonization','action'=>'show-harmonization-page'), null, true) ?>">Harmonize Data</a>
</li>


</ul>
</div>
</div>

