<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * View for the harmonization process.
 * @package views
 */
?>


<h1>
   Data Harmonization module
</h1>

<h2>Validated submissions</h2>

<table class="sectiontable">
<tr>
	<th>Dataset</th>
	<th>Country Code</th>	
</tr>

<?
$i = 0;
foreach($this->validatedsubmissions as $validatedSubmission) {
?>
<tr class="sectiontableentry<?=$i % 2?>">
	<td><?= $validatedSubmission->jrcRequest ?></td>	
	<td><?= $this->countries[$validatedSubmission->countryCode]; ?></td>
</tr>
<?
$i++;
}
?>
</table>

<h2>Select a data set</h2>
<div class="data-harmonization-form">
<?= $this->form ?>
</div>
<?= $this->errorMessage ?>