<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * View for the harmonization process.
 * @package views
 */
?>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/progressbar.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/extjs/ext-all.js"></script>
<script type="text/javascript">
	function confirmLauch() {
		return confirm("Warning, this will delete and recreate all data for this country in the harmonized database.");
	}
</script>


<h1>
   Harmonization Process
</h1>


<table class="sectiontable">
<tr>
	<th>Country Code</th>
	<th>Dataset</th>
	<th>Harmonization Date</th>
	<th>Status</th>
	<th>Action</th>
</tr>

<?

$i = 0;
foreach($this->harmonizations as $harmonizationProcess) {
?>
<tr class="sectiontableentry<?=$i % 2?>">
	<td><?= $this->countries[$harmonizationProcess->countryCode]; ?></td>
	<td><?= $harmonizationProcess->datasetId ?></td>
	<td><?= $harmonizationProcess->date ?></td>
	<td>
            <?php if ($harmonizationProcess->submissionStatus == "NOT_VALID") { ?>
            	<?= $harmonizationProcess->status ?>
                <img src='<?php echo PATH_BASE_URL; ?>/img/warning_orange.png' title="The raw_data submission is not valid anymore" />
            <?    } else if ($harmonizationProcess->status === "OK") { ?>
            	<?= $harmonizationProcess->status ?>
                <img src='<?php echo PATH_BASE_URL; ?>/img/Green_tick.png' />
            <?php } else if ($harmonizationProcess->status === "RUNNING") { ?>
                <div class="tempStatusDiv" id="tempStatusDiv_<?php echo $harmonizationProcess->harmonizationId; ?>">
                <script type="text/javascript">

             	// Display the progress bar
                display('progressBar<?= $harmonizationProcess->harmonizationId;?>', '', 0, '<?= PATH_BASE_URL ?>/img/');         
                
             	// Refresh The status of the submission
                Genapp.util.getStatus_<?php echo $harmonizationProcess->harmonizationId; ?> =  function (){
                    Ext.Ajax.request({
                       url: '<?php echo PATH_BASE_URL; ?>/Harmonization/get-status',
                       params:{
                           DATASET_ID:'<?php echo $harmonizationProcess->datasetId; ?>',
                           COUNTRY_CODE:'<?php echo $harmonizationProcess->countryCode; ?>',
                           action:'status'                               
                       },
                       callback: function(options, success, response){
                            var rp = Ext.decode(response.responseText);
                            var src = '<?php echo PATH_BASE_URL; ?>/img/';
                            switch(rp.status){
                                case 'OK':
                                case 'WARNING':
                                case 'ERROR':
                                case 'CRASH':
                                    Ext.TaskMgr.stop(Genapp.util.getStatusTask_<?php echo $harmonizationProcess->harmonizationId; ?>);
                                    location.reload();
                                    break;
                                case 'RUNNING':
                                	total = rp.totalCount;
                                    if (total == 0) {
                                    	percentage = 0;
                                    } else {
                                    	percentage = rp.currentCount / total;
                                    }
                                    percentage = (percentage * 100) + 1;
                                    setLabel('progressBar<?= $harmonizationProcess->harmonizationId ?>', rp.taskName);
                                    setProgress('progressBar<?= $harmonizationProcess->harmonizationId ?>', percentage);
                                    break;
                                default:
                                    return;
                            }
                       }
                    });
                }
                // equivalent using TaskMgr
                Genapp.util.getStatusTask_<?php echo $harmonizationProcess->harmonizationId; ?> = {
                    run: Genapp.util.getStatus_<?php echo $harmonizationProcess->harmonizationId; ?>,
                    interval: 2000
                };
                Ext.TaskMgr.start(Genapp.util.getStatusTask_<?php echo $harmonizationProcess->harmonizationId; ?>);
                </script>
                </div>
            <?php } else if ($harmonizationProcess->status == "") { ?>
            <?php } else { //"ERROR" or "CRASH") ?>
            	<?= $harmonizationProcess->status ?>
                <img src='<?= PATH_BASE_URL ?>/img/Red_x.png' />
            <?php } ?></td>
	<td><a onclick="return confirmLauch();" href="<?= $this->url(array('controller'=>'harmonization','action'=>'launch-harmonization'), null, true)?>?DATASET_ID=<?=$harmonizationProcess->datasetId;?>&COUNTRY_CODE=<?=$harmonizationProcess->countryCode;?>" >Launch Harmonization</a></td>
</tr>
<?
$i++;
}
?>
</table>
<p class="subTableLink">
    <a href="<?= $this->url(array('controller'=>'harmonization'), null, true) ?>">Back</a>
</p>