<?php
/**
 * Project documents.
 * @package views
 */
?>

<h1>
   Project documents
</h1>

<div class="content">
<br/>

<h2>Presentations</h2>
<ul>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Project_General_Presentation.ppt"?>" class="pagelink" >Projet General Presentation</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/SC1_SC2_Presentation.ppt"?>" class="pagelink" >SC 1 &amp; SC 2 Technical Presentation</a>
	</li>
</ul>

<br/>

<h2>Contracts</h2>
<ul>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/Consortium_agreement_NFI_n2008-CPA-1-144.pdf"?>" class="pagelink" >Consortium Agreement</a>
	</li>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/Framework_Contract.pdf"?>" class="pagelink" >Framework Contract</a>
	</li>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/SpecificContract1.pdf"?>" class="pagelink" >Specific Contract 1: E-forest basis</a>
	</li>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/SpecificContract2.pdf"?>" class="pagelink" >Specific Contract 2: E-forest enrichment</a>
	</li>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/SpecificContract3.pdf"?>" class="pagelink" >Specific Contract 3: Tree species data: 11 countries</a>
	</li>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/SpecificContract5.pdf"?>" class="pagelink" >Specific Contract 5: Tree species data: 5 countries</a>
	</li>
		<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/SpecificContract6.pdf"?>" class="pagelink" >Specific Contract 6: Tree species richness: 3 countries</a>
	</li>
		<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/SpecificContract7.pdf"?>" class="pagelink" >Specific Contract 7: Forest map</a>
	</li>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/SpecificContract8.pdf"?>" class="pagelink" >Specific Contract 8: Estimator <span style="color:red">new</span></a>
	</li>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/SpecificContract9.pdf"?>" class="pagelink" >Specific Contract 9: Tree species data : 3 countries <span style="color:red">new</span></a>
	</li>
</ul>



</div>