<?php
/**
 * Project files format specification.
 * @package views
 */
?>

<h1>
   Data Upload specifications
</h1>
<div class="content">

 	<h2>Metadata</h2>
    <ul>
        <li>
            <a href="<?php echo PATH_BASE_URL."/pdf/CountryCodes.csv"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_excel.png"/>&nbsp;List of Country Codes</a>                       
        </li>
        <li>
        	<a href="<?php echo PATH_BASE_URL."/pdf/SpeciesCodes.csv"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_excel.png"/>&nbsp;List of Tree Species</a>
        </li>
    </ul>


    <h2>Plot Locations</h2>
    <ul>
        <li>
            <a href="<?php echo PATH_BASE_URL."/pdf/CSVFileDescription_PlotLocation.pdf"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_pdf.gif"/>&nbsp;Plot Location File Specification</a>
            <a href="<?php echo PATH_BASE_URL."/pdf/FR_plot_locations.csv"?>" class="pagelink" >&nbsp;(<img src="<?php echo PATH_BASE_URL ?>/img/icon_excel.png"/>&nbsp;Sample File)</a>
        </li>
    </ul>
    
    <h2>Strata Definition</h2>
    <ul>
        <li>
            <a href="<?php echo PATH_BASE_URL."/pdf/CSVFileDescription_StrataDefinition.pdf"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_pdf.gif"/>&nbsp;Strata Definition File Specification</a>
            <a href="<?php echo PATH_BASE_URL."/pdf/FR_STRATA.csv"?>" class="pagelink" >&nbsp;(<img src="<?php echo PATH_BASE_URL ?>/img/icon_excel.png"/>&nbsp;Sample File)</a>
        </li>
    </ul>
    
    
    
    
    <h2>Specific Contract 3</h2>
    <ul>
        <li>
        	<a href="<?php echo PATH_BASE_URL."/pdf/Guidance_sc3.pdf"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_pdf.gif"/>&nbsp;Guidance for data delivery for the Special Contract 3</a>
        </li>
        <li>
        	<a href="<?php echo PATH_BASE_URL."/pdf/CSVFileDescription_CS3_PlotData.pdf"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_pdf.gif"/>&nbsp;Plot Data File Specification</a>
        	<a href="<?php echo PATH_BASE_URL."/pdf/FR_PLOT_DATA.csv"?>" class="pagelink" >&nbsp;(<img src="<?php echo PATH_BASE_URL ?>/img/icon_excel.png"/>&nbsp;Sample File)</a>
        </li>
        <li>
        	<a href="<?php echo PATH_BASE_URL."/pdf/CSVFileDescription_CS3_SpeciesData.pdf"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_pdf.gif"/>&nbsp;Species Data File Specification</a>
        	<a href="<?php echo PATH_BASE_URL."/pdf/FR_SPECIES_DATA.CSV"?>" class="pagelink" >&nbsp;(<img src="<?php echo PATH_BASE_URL ?>/img/icon_excel.png"/>&nbsp;Sample File)</a>
        </li>

    </ul>
       
    <h2>Specific Contract 5</h2>
    <ul>
        <li>
        	<a href="<?php echo PATH_BASE_URL."/pdf/GuidelinesAmendments_PartitionedPlots.pdf"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_pdf.gif"/>&nbsp;Guidelines amendments - Partitioned plots </a>
        </li>
        <li>
        	<a href="<?php echo PATH_BASE_URL."/pdf/GuidelinesAmendments_DomainVariables.pdf"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_pdf.gif"/>&nbsp;Guidelines amendments - Domain variables</a>
        </li>
    </ul>
    
    
</div>