<?php
/**
 * Forest Map Valitation
 * @package views
 */
?>

<h1>
   Forest map validation
</h1>

<div class="content">

 	<h2>Forest Map Validation Tool</h2>
    <ul>
    	<br/>
        <li>
            <a href="<?php echo PATH_BASE_URL."/pdf/Map Validation/Map Validation Tool - Guidelines.pdf"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_pdf.gif"/>&nbsp;Guidances</a>                       
        </li>
        <br/>
        <li>
        	<a href="<?php echo PATH_BASE_URL."/pdf/Map Validation/readgeotiff.jar"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/application_osx_terminal.png"/>&nbsp;Verification Tool <i>(right-click and save as ...)</i></a>
        </li>
         <li>
        	<a href="<?php echo PATH_BASE_URL."/pdf/Map Validation/CM-FTYP_2006_45003000-AA.tif"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/map.png"/>&nbsp;Forest type map 2006 with 250 m pixel <i>(right-click and save as ...)</i></a>
        </li>
        <br/>
        <li>
        	<a href="<?php echo PATH_BASE_URL."/pdf/Map Validation/CSV File Description - SC7 - Pixel Extraction Tool.pdf"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_pdf.gif"/>&nbsp;CSV File Description - SC7 - Pixel Extraction Tool Forest Layer</a>
        </li>
        <li>
        	<a href="<?php echo PATH_BASE_URL."/pdf/Map Validation/CSV File Description - SC7 - Eforest.pdf"?>" class="pagelink" ><img src="<?php echo PATH_BASE_URL ?>/img/icon_pdf.gif"/>&nbsp;CSV File Description - SC7 - Eforest Forest Layer</a>
        </li>
    </ul>


</div>



