<?php
/**
 * Project meetings.
 * @package views
 */
?>

<h1>
   Project meetings
</h1>

<div class="content">
<br/>


	<h2>2009/09/10 Ispra Meeting</h2>
    <ul>
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Ispra/20090910Minutes.pdf"?>" class="pagelink" >Progress Meeting</a>
	</li>	
	</ul>
	
	<h2>2009/10/07 Nogent-sur-Vernisson Meeting</h2>
    <ul>
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Nogent/20091007Minutes.pdf"?>" class="pagelink" >Thematic Officiers Meeting</a>
	</li>
	</ul>
	
	<h2>2010/01/14 Vienna Meeting</h2>
    <ul>    
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Vienna/Meeting_Minutes.pdf"?>" class="pagelink" >Meeting Minutes</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Vienna/SC3_Introduction.pdf"?>" class="pagelink" >SC3 - Introduction</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Vienna/Data_Upload.pdf"?>" class="pagelink" >SC3 - Data upload</a>
	</li>
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Vienna/lanz-sampling-designs.pdf"?>" class="pagelink" >SC3 - Approaches to data analysis</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Vienna/Aggregation_and_Interpolation_Module.pdf"?>" class="pagelink" >SC2 - Aggregation and interpolation module</a>
	</li>
	</ul>
	
	<h2>2009/09/10 Ispra Meeting</h2>
    <ul>
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Ispra/20100128Minutes.pdf"?>" class="pagelink" >Progress Meeting</a>
	</li>	
	</ul>
	
	
	<h2>2010/03/24 Birmensdorf Meeting</h2>
	<ul>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Birmensdorf/Birmensdorf_Minutes.pdf"?>" class="pagelink" >Meeting Minutes</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Birmensdorf/Birmensdorf_Meeting_Introduction.pdf"?>" class="pagelink" >Meeting Introduction</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Birmensdorf/Domains_Lanz.pdf"?>" class="pagelink" >Roles of domain variables</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Birmensdorf/SC3_Data_Presentation.pdf"?>" class="pagelink" >SC3 - Data presentation</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Birmensdorf/SC3_Deliverables.pdf"?>" class="pagelink" >SC3 - Deliverables</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Birmensdorf/Partitioning_Plots.pdf"?>" class="pagelink" >SC3 - Partitioning Plots</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Birmensdorf/Foret_Map_Validation.pdf"?>" class="pagelink" >SC5 - Forest map validation</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Birmensdorf/SC7_Lanz.pdf"?>" class="pagelink" >SC7 - Enhancing estimation procedures</a>
	</li>
	</ul>
	
	<h2>2010/06/10 Ispra Meeting</h2>
    <ul>
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Ispra/20100610Minutes_Awaiting_approval.pdf"?>" class="pagelink" >Progress Meeting – Awaiting JRC approval </a>
	</li>	
	</ul>
	
	<h2>2010/08/24 Werbellinsee Meeting</h2>
	<ul>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Werbellinsee/Minutes.pdf"?>" class="pagelink" >Meeting Minutes</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Werbellinsee/Introduction.pdf"?>" class="pagelink" >Introduction</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Werbellinsee/Data Provision.pdf"?>" class="pagelink" >Data provision</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Werbellinsee/Deliverables.pdf"?>" class="pagelink" >Deliverables</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Werbellinsee/SC7.pdf"?>" class="pagelink" >SC7</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Werbellinsee/domains_lanz.pdf"?>" class="pagelink" >SC8 – estimation procedures</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Werbellinsee/Decision Tree - PT.pdf"?>" class="pagelink" >Decision tree – Portuguese example</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Werbellinsee/Decision Tree - CH.pdf"?>" class="pagelink" >Decision tree – Swiss example</a>
	</li>
	<li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Werbellinsee/Decision Tree - SK.pdf"?>" class="pagelink" >Decision tree – Slovak example</a>
	</li>
	</ul>
	
	<h2>2011/06/23 Ispra Meeting</h2>
    <ul>
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Ispra201106/SC7 Minutes.pdf"?>" class="pagelink" >SC7 Minutes</a>
	</li>	
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Ispra201106/SC8-9 Minutes.pdf"?>" class="pagelink" >SC8-9 Minutes</a>
	</li>	
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Ispra201106/Forest map validation.pdf"?>" class="pagelink" >E-forest Map Validation</a>
	</li>	
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Ispra201106/JRC_MAPValidationMethodology.pdf"?>" class="pagelink" >JRC Map Validation</a>
	</li>	
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Ispra201106/Forest_tree_species_atlas.pdf"?>" class="pagelink" >Tree Species Atlas</a>
	</li>	
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Ispra201106/Forest_tree_species_basal_area.pdf"?>" class="pagelink" >Basal Area</a>
	</li>	
	</ul>
	
	<h2>2011/08/30 Vienna Meeting</h2>
    <ul>
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Vienna201108/Introduction.pdf"?>" class="pagelink" >Introduction</a>
	</li>	
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Vienna201108/SC8 Estimator Implementation.pdf"?>" class="pagelink" >SC8 Estimator Implementation</a>
	</li>	
    <li>
		<a href="<?php echo PATH_BASE_URL."/pdf/Meetings/Vienna201108/SC8 Minutes.pdf"?>" class="pagelink" >SC8 Minutes</a>
	</li>	
	</ul>
	
</div>

