<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * View for the data submission.
 * @package views
 */
?>
<h1>
   Raw Data Statistics
</h1>


<h2>Submissions per country</h2>

<table class="sectiontable">
<tr>
	<th>Country Code</th>
	<th>Number of Plot Locations</th>
<?
foreach($this->datasetIds as $datasetId => $label) {
	echo "<th>".$label."</th>";
}
?>
</tr>

<?

$i = 0;
foreach($this->plotLocationsPerCountry as $country => $count) {
	
	if (array_key_exists($country,$this->submissionsPerCountry)) {
?>
<tr class="sectiontableentry<?=$i % 2?>">
	<td><?= $this->countries[$country]; ?></td>
	<td>
	<?
		if (array_key_exists($country,$this->submissionsPerCountry)) {
			$submission = $this->submissionsPerCountry[$country]['LOCATION'];
			echo $count;
			
			$link = '<a href="'.PATH_BASE_URL.'/proxy/showsimplifiedreport?submissionId='.$submission->submissionId.'">';
			
			if ($submission->status == "OK") {
				echo $link."<img src='".PATH_BASE_URL."/img/Green_tick.png' /></a>";
			} else if ($submission->status == "WARNING"){
				echo $link."<img src='".PATH_BASE_URL."/img/warning_orange.png' /></a>";			
			} else if ($submission->status == "ERROR" || $submission->status == "CRASH"){
				echo $link."<img src='".PATH_BASE_URL."/img/Red_x.png' /></a>";
			}	 
		}
	?>
	</td>	
<?
foreach($this->datasetIds as $datasetId => $label) {
	
	echo "<td>";

	if (array_key_exists($country,$this->submissionsPerCountry) && array_key_exists($datasetId,$this->submissionsPerCountry[$country])) {
	
		$submission = $this->submissionsPerCountry[$country][$datasetId];
		$link = '<a href="'.PATH_BASE_URL.'/proxy/showsimplifiedreport?submissionId='.$submission->submissionId.'">';
		
		
		if ($submission->status == "OK") {
			echo $link."<img src='".PATH_BASE_URL."/img/Green_tick.png' /></a>";
		} else if ($submission->status == "WARNING"){
			echo $link."<img src='".PATH_BASE_URL."/img/warning_orange.png' /></a>";			
		} else if ($submission->status == "ERROR" || $submission->status == "CRASH"){
			echo $link."<img src='".PATH_BASE_URL."/img/Red_x.png' /></a>";
		}	
		
	}
	
	echo "</td>";	
}
	?>
</tr>
<?
	$i++;
	}	
}
?>
</table>
<p class="subTableLink">
    <a href="<?= $this->url(array('controller'=>'index'), null, true) ?>">Back</a>
</p>
