<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * View for the data submission.
 * @package views
 */
?>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/progressbar.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/extjs/ext-all.js"></script>

<h1>
   Data integration module
</h1>

<!-- Show the currently active location submissions -->
<table class="sectiontable">
<tr>
    <th>Submission ID</th>
    <th>Country Code</th>
    <th>Dataset</th>
    <th>Step</th>
    <th>Status</th>
    <th>File Type</th>
    <th>Lines numbers</th>
    <th>Comment</th>
    <th>Actions</th>
    <th></th>
</tr>
<?
$i = 0;
foreach($this->submissions as $submission) {
?>
<tr class="sectiontableentry<?=$i % 2?>">
    <td><?= $this->escape($submission->submissionId); ?></td>
    <td><?= $this->countries[$submission->countryCode]; ?></td>
    <td><?= $this->escape($submission->jrcRequest); ?></td>
    <td><?= $this->escape($submission->step); ?></td>
    <td>
            <? if ($submission->status === "OK" || $submission->status === "CHECKED") : ?>
            	<?= $this->escape($submission->status); ?>
                <img src='<?= PATH_BASE_URL ?>/img/Green_tick.png' />
            <?php elseif ($submission->status === "WARNING") : ?>
            	<?= $this->escape($submission->status); ?>
                <img src='<?= PATH_BASE_URL ?>/img/warning_orange.png' />
            <?php elseif ($submission->status === "RUNNING") : ?>
                <div class="tempStatusDiv" id="tempStatusDiv_<?= $submission->submissionId ?>">
                <script type="text/javascript">

                // Display the progress bar
                display('progressBar<?= $submission->submissionId ?>', '', 0, '<?= PATH_BASE_URL ?>/img/');         
                
                // Refresh The status of the submission
                Genapp.util.getStatus_<?= $submission->submissionId ?> =  function (){
                    var url = '<?= PATH_BASE_URL ?>/Integration/';
                    <?php if ($submission->step === "CHECKED") : ?>
                        url += 'get-check-status';
                    <?php else : ?>
                        url += 'get-data-status';
                    <?php endif; ?>
                    Ext.Ajax.request({
                       url: url,
                       params:{
                           action:'status',
                           submissionId:<?= $submission->submissionId ?>
                       },
                       callback: function(options, success, response){
                            var rp = Ext.decode(response.responseText);
                            var src = '<?= PATH_BASE_URL ?>/img/';
                            switch(rp.status){
                                case 'OK':
                                case 'WARNING':
                                case 'ERROR':
                                case 'CRASH':
                                    Ext.TaskMgr.stop(Genapp.util.getStatusTask_<?= $submission->submissionId ?>);
                                    location.reload();
                                    break;
                                case 'RUNNING':
                                    total = rp.totalCount;
                                    if (total == 0) {
                                    	percentage = 1;
                                    } else {
                                    	percentage = rp.currentCount / total;
                                    }
                                    percentage = (percentage * 100);
                                    setLabel('progressBar<?= $submission->submissionId ?>', rp.taskName);
                                    setProgress('progressBar<?= $submission->submissionId ?>', percentage);
                                    break;
                                default:
                                    return;
                            }
                       }
                    });
                }
                // equivalent using TaskMgr
                Genapp.util.getStatusTask_<?= $submission->submissionId ?> = {
                    run: Genapp.util.getStatus_<?= $submission->submissionId ?>,
                    interval: 1000
                };
                Ext.TaskMgr.start(Genapp.util.getStatusTask_<?= $submission->submissionId ?>);
                </script>
                </div>
            <?php else : //"ERROR" or "CRASH") ?>
            	<?= $this->escape($submission->status); ?>
                <img src='<?= PATH_BASE_URL ?>/img/Red_x.png' />
            <?php endif; ?>
    </td>
    <td colspan=2>
        <?php if ($submission->status !== "DATARUNNING") : ?>
            <table>
            <?php  foreach ($submission->files as $file) : ?>
                <tr><td><?= $file->fileType ?></td>
                <td><?= $file->lineNumber ?></td></tr>
            <?php endforeach; ?>
            </table>
        <?php endif; ?>
    </td>
    
    <td><?= $this->escape($submission->comment); ?></td>
    <td>
    <?
    if ($submission->step === "INSERTED" && $submission->status === "OK") {
    ?>
    <p><a href="<?= $this->url(array('controller'=>'integration','action'=>'check-submission'), null, true)?>?submissionId=<?=$submission->submissionId;?>" >Check data</a></p>
    <? }
    if ($submission->step !== "INIT" && $submission->status !== "DATARUNNING") {
    ?>
    <p><a href="<?= $this->url(array('controller'=>'proxy','action'=>'showreport'), null, true)?>?submissionId=<?=$submission->submissionId;?>" >Show report</a></p>
    <? }
    if ($submission->step === "CHECKED" && ($submission->status === "OK" || $submission->status === "WARNING")) {
    ?>
    <p><a href="<?= $this->url(array('controller'=>'integration','action'=>'validate-data'), null, true)?>?submissionId=<?=$submission->submissionId;?>" onClick="return confirm('Once validated the data will be available for agregation. Do you confirm?');">Validate data</a></p>
    <? } ?>
    <p><a href="<?= $this->url(array('controller'=>'integration','action'=>'cancel-data-submission'), null, true)?>?submissionId=<?=$submission->submissionId;?>" onClick="return confirm('Are you sure?');">Cancel Submission</a></p>
</td></tr>
<?
$i++;
}
?>
</table>
<p class="subTableLink">
    <a href="<?= $this->url(array('controller'=>'integration','action'=>'show-create-data-submission'), null, true) ?>">Create data submission</a>
</p>