<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * View for the strata submission.
 * @package views
 */
?>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/progressbar.js"></script>
<script type="text/javascript" src="<?=PATH_BASE_URL?>/js/extjs/ext-all.js"></script>
<h1>
   Data integration module - Strata
</h1>


<!-- Show the currently active location submissions -->
<table class="sectiontable">
<tr>
	<th>Submission ID</th>
	<th>Country Code</th>
	<th>Step</th>
	<th>Status</th>
	<th>Lines numbers</th>
	<th>Actions</th>
	<th></th>
</tr>
<?
$i = 0;
foreach($this->submissions as $submission) {
?>
<tr class="sectiontableentry<?=$i % 2?>">
	<td><?= $this->escape($submission->submissionId); ?></td>
	<td><?= $this->countries[$submission->countryCode]; ?></td>
	<td><?= $this->escape($submission->step); ?></td>
	<td>
            <? if ($submission->status === "OK") : ?>
            	<?= $this->escape($submission->status); ?>
                <img src='<?php echo PATH_BASE_URL; ?>/img/Green_tick.png' />
            <?php elseif ($submission->status === "WARNING") : ?>
            	<?= $this->escape($submission->status); ?>
                <img src='<?php echo PATH_BASE_URL; ?>/img/warning_orange.png' />
            <?php elseif ($submission->status === "RUNNING") : ?>
                <div class="tempStatusDiv" id="tempStatusDiv_<?php echo $submission->submissionId; ?>">
                <script type="text/javascript">

                // Display the progress bar
                display('progressBar<?= $submission->submissionId ?>', '', 0, '<?= PATH_BASE_URL ?>/img/');         
                
             	// Refresh The status of the submission
                Genapp.util.getStatus_<?php echo $submission->submissionId; ?> =  function (){
                    Ext.Ajax.request({
                       url: '<?php echo PATH_BASE_URL; ?>/Integration/get-strata-status',
                       params:{
                           action:'status',
                           submissionId:<?php echo $submission->submissionId; ?>
                       },
                       callback: function(options, success, response){
                            var rp = Ext.decode(response.responseText);
                            var src = '<?php echo PATH_BASE_URL; ?>/img/';
                            switch(rp.status){
                                case 'OK':
                                case 'WARNING':
                                case 'ERROR':
                                case 'CRASH':
                                    Ext.TaskMgr.stop(Genapp.util.getStatusTask_<?php echo $submission->submissionId; ?>);
                                    location.reload();
                                    break;
                                case 'RUNNING':
                                	total = rp.totalCount;
                                    if (total == 0) {
                                    	percentage = 0;
                                    } else {
                                    	percentage = rp.currentCount / total;
                                    }
                                    percentage = (percentage * 100) + 1;
                                    setLabel('progressBar<?= $submission->submissionId ?>', rp.taskName);
                                    setProgress('progressBar<?= $submission->submissionId ?>', percentage);
                                    break;
                                default:
                                    return;
                            }
                       }
                    });
                }
                // equivalent using TaskMgr
                Genapp.util.getStatusTask_<?php echo $submission->submissionId; ?> = {
                    run: Genapp.util.getStatus_<?php echo $submission->submissionId; ?>,
                    interval: 1000
                };
                Ext.TaskMgr.start(Genapp.util.getStatusTask_<?php echo $submission->submissionId; ?>);
                </script>
                </div>
            <?php else : //"ERROR" or "CRASH") ?>
            	<?= $this->escape($submission->status); ?>
                <img src='<?= PATH_BASE_URL ?>/img/Red_x.png' />
            <?php endif; ?>
    </td>
	<td>
		<table>
	<?  
		foreach ($submission->files as $file) {
			echo "<td>".$file->lineNumber."</td>";
		}  
	?>
		</table>
	</td>
	<td><p><a href="<?= $this->url(array('controller'=>'integration','action'=>'cancel-strata-submission'), null, true)?>?submissionId=<?=$submission->submissionId;?>" onClick="return confirm('Are you sure?');">Cancel</a></p>
	<?
	if ($submission->step == "INSERTED" || $submission->step == "CHECKED") {
	?>
	<p><a href="<?= $this->url(array('controller'=>'proxy','action'=>'showplotreport'), null, true)?>?submissionId=<?=$submission->submissionId;?>" >Show submission report</a></p>
	<? } 
	?>
</td></tr>
<?
$i++;
}
?>
</table>



<p class="subTableLink">
<a href="<?= $this->url(array('controller'=>'integration','action'=>'show-create-strata-submission'), null, true) ?>">Create new strata submission</a>
</p>

