/***** Form Panel Toolbars **********************************************************************************/
.genapp-tb-btn .x-btn-mc .x-btn-text{
    background:transparent url(../../../extjs/resources/images/green-ifn/panel/tool-sprites.gif) no-repeat scroll;
}
.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-color:#75AA1C;
}

/*************************************************************************************************/

/***** Query Form Panel************************************************************************/
button.genapp-query-panel-predefined-request-save-button-icon {
    background-image: url(../images/disk.png);
}
.genapp-query-request-panel-ct-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/request.gif);
}
.fr .genapp-query-request-panel-ct-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/request_fr.gif);
}
.genapp_query_formspanel_cancel_button button{
    font-weight: bold; 
}
.genapp_query_formspanel_reset_button button{
    font-weight: bold; 
}
.genapp_query_formspanel_search_button button{
    font-weight: bold; 
}
.genapp-query-field-form-panel .x-panel-ml,.genapp-query-field-form-panel .x-panel-mr{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/left-right.gif);
}
.genapp-query-field-form-panel .x-panel-bl,.genapp-query-field-form-panel .x-panel-br{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/corners-sprite.gif);
}
.genapp-query-field-form-panel .x-panel-bc{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/top-bottom.gif);
}
/*************************************************************************************************/

/***** Center Panel ************************************************************************/
.genapp-query-center-panel-tab-strip-link{
    text-decoration: underline;
}
.genapp-query-center-panel-csv-export-alert h2{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1em;
    color:#333333;
    line-height:2em;
}
.genapp-query-center-panel-csv-export-alert h3{
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
    color:#333333;
    border-bottom:none;
    line-height:1.5em;
    text-transform:none;
}
.genapp-query-center-panel-csv-export-alert div ul li{
    font-size: 0.8em;
    font-weight: normal;
    text-decoration: none;
    list-style-type: disc;
    color:#333333;
}
.genapp-query-center-panel-grid-csv-export-menu-item-icon{
    background-image: url(../images/page_excel.png);
}
.genapp-query-center-panel-aggregation-csv-export-menu-item-icon{
    background-image: url(../images/page_excel.png);
}
.genapp-query-center-panel-aggregation-button-menu{
    background-image: none !important;
}
.x-btn button.genapp-query-center-panel-print-map-button-icon{
    background-image: url(../images/printer.png);
}
/*************************************************************************************************/

/***** Map Panel *********************************************************************************/
.feature-info {
    background-image:url(../images/information.png) !important;
}
.zoomin {
    background-image:url(../images/magnifier_zoom_in.png) !important;
}
.zoomout {
    background-image:url(../images/magnifier_zoom_out.png) !important;
}
.zoomfull {
    background-image:url(../images/world.png) !important;
}
.pan {
    background-image:url(../images/icon_pan.png) !important;
}
.back {
    background-image:url(../images/arrow_rotate_clockwise.png) !important;
}
.next {
    background-image:url(../images/arrow_rotate_anticlockwise.png) !important;
}
.genapp-map-panel-legal-mentions a{
    font-family:Arial;
    font-size:smaller;
    color:#333333;
}
.genapp-map-panel-legal-mentions a:visited {
    color:#333333;
}
.genapp-map-panel-legal-mentions a:hover {
    color:#333333;
    text-decoration: underline !important;
}
/*************************************************************************************************/

/***** Grid Panel ************************************************************************/
.genapp-query-grid-map{
    background:transparent url(../images/map_magnify.png) no-repeat scroll !important;
}
.genapp-query-grid-slip{
    background:transparent url(../images/page_white_magnify.png) no-repeat scroll !important;
}
/*************************************************************************************************/


/** Details Panel ************************************************************************/
.genapp-query-details-panel .x-tab-strip-top .x-tab-right,
.genapp-query-details-panel .x-tab-strip-top .x-tab-left,
.genapp-query-details-panel .x-tab-strip-top .x-tab-strip-inner {
    background-image:url(../../../extjs/resources/images/green-ifn/tabs/tabs-sprite-lighter.gif);
}
.genapp-query-details-panel-ct-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/details.gif);
}
.fr .genapp-query-details-panel-ct-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/details_fr.gif);
}
.genapp-query-details-panel p{
    color:#606060;
}
.genapp-query-details-panel table{
    border:1px solid #909090;
    border-collapse:collapse;
    border-spacing:0;
}
.genapp-query-details-panel th{
    color:#505050;
    font-weight: bold;
    border:1px solid #909090;
    text-align:center;
}
.genapp-query-details-panel td{
    color:#606060;
    border:1px solid #909090;
    text-align:center;
}
.genapp-query-details-panel legend,
.genapp-query-details-panel caption{
    font-weight:bold;
    color:#505050;
    font-size:12px;
}
/*************************************************************************************************/


/***** Criteria Form Panel Body ************************************************************************/
.filterBin{
    background:transparent url(../images/bin.gif) no-repeat scroll !important;
}
.labelNextBin{

    color: #606060;
}
/*************************************************************************************************/

/***** Column Form Panel Body ************************************************************************/
.columnLabelBin{
    background:transparent url(../images/bin.gif) no-repeat scroll !important;
}
.columnLabel{
    color: #606060;
}
.x-toolbar div.xtb-text{
    color: #404040;
}
/*************************************************************************************************/

/***** Map Right panel *********************************************************************/
.genapp-query-map-right-panel-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/layers_and_legends.gif);
}
.fr .genapp-query-map-right-panel-xcollapsed-vertical-label-div{
    background-image: url(../images/green-ifn/layers_and_legends_fr.gif);
}
/*************************************************************************************************/

/***** Date Range Picker *********************************************************************/
.x-menu-date-range-item .x-panel-body{
    background-color: #e0ecbc;
}
.x-menu-plain .x-date-picker {
    border-color:#75AA1C;
}
.x-date-range-menu {
    border-color:#75AA1C !important;
}
.x-date-mp {
    border-color:#75AA1C;
}
/*************************************************************************************************/

/***** Number Range Picker *********************************************************************/
.x-menu-number-range-item .x-panel-footer{
    background-image:url(../../../extjs/resources/images/green-ifn/shared/glass-bg.gif);
    border-top:#75AA1C 1px solid;
}
.x-menu-number-range-item label{
    color:#606060;
}
.x-menu-number-range-item .x-form-field-wrap .x-form-trigger{
    background-image:url(../../../extjs/resources/images/green-ifn/form/clear-trigger.gif);
}
/*************************************************************************************************/

/***** Geometry Field *********************************************************************/
.x-form-field-wrap .x-form-map-trigger{
    background-image: url(../images/green-ifn/map-trigger.gif);
}
.drawpoint {
    background-image:url(../images/mapfish/draw_point_off.png) !important;
}
.drawline {
    background-image:url(../images/mapfish/draw_line_off.png) !important;
}
.drawpolygon {
    background-image:url(../images/mapfish/draw_polygon_off.png) !important;
}
.modifyfeature {
    background-image:url(../images/mapfish/move_vertex_off.png) !important;
}
.deletefeature {
    background-image:url(../images/mapfish/cross.png) !important;
}
.zoomstations {
    background-image:url(../images/mapfish/arrow_in.png) !important;
}
/*************************************************************************************************/

/**** Panel **************************************************************************************/
.x-panel-ml, .x-panel-mr{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/left-right-bwrap.gif);
}
.x-panel-bl, .x-panel-br{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/corners-sprite-bwrap.gif);
}
.x-panel-bc{
    background-image:url(../../../extjs/resources/images/green-ifn/panel/top-bottom-bwrap.gif);
}
/*************************************************************************************************/

/**** Input **************************************************************************************/
.x-toolbar .x-form-field-trigger-wrap input{
    border-top: 1px solid #75AA1C !important;
    border-right: 1px solid #b7cc7f !important;
    border-bottom: 1px solid #75AA1C !important;
    border-left: 1px solid #75AA1C !important;
}
.x-form-field-trigger-wrap input{
    border: 1px solid #b7cc7f !important;
}
.x-grid-panel .x-toolbar input{
    background-color:#e0ecbc;
    border: 1px solid #75AA1C;
    height:14px !important;
}
/*************************************************************************************************/

/***** Predefined Request Panel ******************************************************************/

.genapp-request-criteria-panel-criteria-hint {
    font-style: italic;
}
.genapp-predefined-request-grid-panel-description-title {
    font-weight: bold;
}
/*************************************************************************************************/

/***** Card Panel ********************************************************************************/

.genapp-card-panel > .x-tab-panel-header > .x-tab-strip-wrap > ul.x-tab-strip-top {
    background-color:#FFFFFF;
    background-image:none;
}
/*************************************************************************************************/