<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * Display some contextual information about already selected parameters in session.
 *
 * @package views
 */

// Store the value in session
$aggregationSession = new Zend_Session_Namespace('aggregation');
?>

<h4>Request Summary</h4>
<div id="tabRecap">
	<table class="tabRecap" style="clear: both">
		<tbody>

			<?php
			$operation = $aggregationSession->operation;
			if (!empty($operation)) {
				?>
			<tr>
				<td><a href="<?= $this->url(array('controller'=>'aggregation', 'action'=>'show-operations'), null, true) ?>">Operation</a>&nbsp;</td>
				<td><?php 
				if (!empty($aggregationSession->operations)) {
					$operations = $aggregationSession->operations;
					echo $operations[$operation];
				} else {
					echo $operation;
				}?>
				</td>
			</tr>
			<?php } ?>

			<?php
			$datasetId = $aggregationSession->datasetId;
			if (!empty($datasetId)) {
				?>
			<tr>
				<td><a href="<?= $this->url(array('controller'=>'aggregation', 'action'=>'show-datasets'), null, true) ?>">Dataset</a>&nbsp;</td>
				<td><?php
				if (!empty($aggregationSession->datasets)) {
					$datasets = $aggregationSession->datasets;
					echo $datasets[$datasetId];
				} else {
					echo $datasetId;
				}
				?>
				</td>
			</tr>
			<?php } ?>



			<?php
			$variable = $aggregationSession->variable;
			if (!empty($variable)) {
				?>
			<tr>
				<td><a href="<?= $this->url(array('controller'=>'aggregation', 'action'=>'show-variables'), null, true) ?>">Variable</a>&nbsp;</td>
				<td><?php echo $variable->label;?></td>
			</tr>
			<?php } ?>

			<?php
			$numerator = $aggregationSession->numerator;
			if (!empty($numerator)) {
				?>
			<tr>
				<td><a href="<?= $this->url(array('controller'=>'aggregation', 'action'=>'show-variables-ratio'), null, true) ?>">Numerator</a>&nbsp;</td>
				<td><?php echo $numerator->label;?></td>
			</tr>
			<?php } ?>


			<?php
			$denominator = $aggregationSession->denominator;
			if (!empty($denominator)) {
				?>
			<tr>
				<td><a href="<?= $this->url(array('controller'=>'aggregation', 'action'=>'show-variables-ratio'), null, true) ?>">Denominator</a>&nbsp;</td>
				<td><?php echo $denominator->label;?></td>
			</tr>
			<?php } ?>



			<?php
			$cell = $aggregationSession->cell;
			if (!empty($cell)) {	?>
			<tr>
				<td><a href="<?= $this->url(array('controller'=>'aggregation', 'action'=>'show-cells'), null, true) ?>">Aggregation cells</a>&nbsp;</td>
				<td><?php 
				if (!empty($aggregationSession->cells)) {
					$cells = $aggregationSession->cells;
					echo $cells[$cell];
				} else {
					echo $cell;
				} ?></td>
			</tr>
			<?php } ?>


			<?php
			$filters = $aggregationSession->filters;
			if (!empty($filters)) {	?>
			<tr>
				<td><a href="<?= $this->url(array('controller'=>'aggregation', 'action'=>'show-filters'), null, true) ?>">Filters</a>&nbsp;</td>
				<td></td>
			</tr>
			<?php 
			foreach ($filters as $filterName => $filterValue) {
				?>
			<tr>
				<td></td>
				<td><?php echo $filterName;?> = <?php echo $filterValue;?></td>
			</tr>
			<?php }
	}
	?>



		</tbody>
	</table>
</div>

<br />
<br />
