<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * View for aggregation module.
 * @package views
 */
?>
<?php include_once "session-context.phtml"; ?>


<script type="text/JavaScript">
<!--
function changeErrorType(errorType) {
	document.location = '<?php echo PATH_BASE_URL?>/aggregation/show-results/errortype/'+errorType;
}
//-->
</script>

<?php
// save the errorType in the session
$aggregationSession = new Zend_Session_Namespace('aggregation');
$errorType = $aggregationSession->errorType; 

function displayErrorTypeLabel() {
	$aggregationSession = new Zend_Session_Namespace('aggregation');
	$errorType = $aggregationSession->errorType;
	
	if ($errorType == 'IC90') {
		echo 'IC 90 (%)';
	} else if ($errorType == 'IC95') {
		echo 'IC 95 (%)';
	} else {
		echo 'Standard Error';
	}
}


?>

<dt id="SE-label"><label for="SE" class="required">Show Error as :</label></dt>
<dd id="SE-element">
<select name="SE" id="SE" onChange="changeErrorType(this.options[this.selectedIndex].value);">
    <option value="SD" label="Standard Error" <?php echo ($errorType == 'SD') ? 'selected=selected' : ''; ?>>Standard Error</option>
    <option value="IC95" label="Confidence interval 95%" <?php echo ($errorType == 'IC95') ? 'selected=selected' : ''; ?>>Confidence interval 95%</option>
    <option value="IC90" label="Confidence interval 90%" <?php echo ($errorType == 'IC90') ? 'selected=selected' : ''; ?>>Confidence interval 90%</option>
</select></dd>

<h1>Results</h1>

<?php  if ($this->status == 'OK' || $this->status == '') { ?>

<div align="center">
<table class="result_table">
<thead>
	<tr>
		<th>Cell Id</th>
		<th>Number of Plots</th>
		<th>Surface</th>
<?php  if ($operation == 'RATIO') { ?>			
		<th>Number of Plots in the domain</th>
		<th>Domain Size</th>
		<th>Domain Size - <?php displayErrorTypeLabel()?></th>
		<?php 
		$var = $aggregationSession->variable;
		$num = $aggregationSession->numerator;	
		if (($var != null && $var->data == 'IS_FOREST_PLOT') || ($num != null && $num->data ==  'IS_FOREST_PLOT')) {?>
			<th>Mean %</th>		
			<th>Standard Error % - <?php displayErrorTypeLabel()?></th>
		<?php } else { ?>
			<th>Mean</th>
			<th>Standard Error - <?php displayErrorTypeLabel()?></th>
		<?php }  ?>
		<th>Total in domain</th>
		<th>Total in domain - <?php displayErrorTypeLabel()?></th>
<?php } else { ?>		
		<th>Average</th>
		<th>Total</th>
		<th>Total - <?php displayErrorTypeLabel()?></th>
<?php } ?>
		
	</tr>
</thead>
<tbody>

<?php 

/**
 * Format a number.
 *
 * @param Numeric $input the input number
 * @param Integer $decimals the number of decimals
 */
function _numberFormat($input, $decimals) {
	return number_format($input, $decimals, '.', '');
}

/**
 * Format an error.
 *
 * @param Numeric $standardDeviation the input error
 * @param Numeric $baseNumber the base number 
 */
function _formatError($standardDeviation, $baseNumber) {
	$aggregationSession = new Zend_Session_Namespace('aggregation');
	$errorType = $aggregationSession->errorType;
	
	if ($baseNumber == 0) {
		return 0;
	}
	
	if ($errorType == 'IC90') {
		return _numberFormat(100 * 1.645 * $standardDeviation / $baseNumber, 3);
	} else if ($errorType == 'IC95') {
		return _numberFormat(100 * 1.96 * $standardDeviation / $baseNumber, 3);
	} else {
		return _numberFormat($standardDeviation, 3);
	}
}

$operation = $aggregationSession->operation;

foreach ($this->results as $result) {
?>
	<tr>
		<td><?php echo $result['cell_id']; ?></td>
		<td><?php echo _numberFormat($result['plot_number'], 0); ?></td>
		<td><?php echo _numberFormat($result['surface'], 0); ?></td>
<?php  if ($operation=='RATIO') { ?>		
		<td><?php echo _numberFormat($result['dom_nb_plots'], 0); ?></td>
		<td><?php echo _numberFormat($result['total_estimate_z'], 3); ?></td>
		<td><?php echo _formatError($result['standard_error_total_z'], $result['total_estimate_z']); ?></td>		
		<?php
		$var = $aggregationSession->variable;
		$num = $aggregationSession->numerator;
		$errorType = $aggregationSession->errorType;
		if (($var != null && $var->data == 'IS_FOREST_PLOT') || ($num != null && $num->data ==  'IS_FOREST_PLOT')) { ?>
			<td><?php echo _numberFormat($result['average_value'] * 100, 3); ?></td>
			<?php if ($errorType == 'IC90' || $errorType == 'IC95') {?>
				<td><?php echo _formatError($result['standard_error'], $result['average_value']); ?></td>
			<?php } else { ?>
				<td><?php echo _formatError($result['standard_error'] * 100, $result['average_value']); ?></td>				
			<?php } ?>
		<?php } else { ?>		 
			<td><?php echo _numberFormat($result['average_value'], 3); ?></td>
			<td><?php echo _formatError($result['standard_error'], $result['average_value']); ?></td>
		<?php } ?>
		
		
		<td><?php echo _numberFormat($result['total_estimate_x'], 3); ?></td>
		<td><?php echo _formatError($result['standard_error_total_x'], $result['total_estimate_x']); ?></td>
		
<?php } else { ?>

		<td><?php echo _numberFormat($result['average_value'], 3); ?></td>
		<td><?php echo _numberFormat($result['surface'] * $result['average_value'], 3); ?></td>
		<td><?php echo _formatError($result['standard_error'], $result['average_value']);?></td>
<?php } ?>
	</tr>
<?php 	
}
?>

</tbody>
</table>
</div>


<a href="<?= $this->url(array('controller'=>'aggregation'), null, true) ?>/launch-calculation">Refresh</a>
<br/>

<a href="<?php echo PATH_BASE_URL?>/aggregation/export-csv">Export CSV</a>



<?php  } else if ($this->status == 'RUNNING') { ?>
	Waiting Results ... <br/>
<?php if ($this->taskName != null && $this->taskName != "null") { echo $this->taskName; }?>



<script type="text/JavaScript">
<!--
function refresh() {
	document.location = '<?php echo PATH_BASE_URL?>/aggregation/show-results';
}

setTimeout("refresh()",5000);
//-->
</script>
<?php } ?> 



<p class="subTableLink">
<a href="<?= $this->url(array('controller'=>'aggregation'), null, true) ?>">Back</a>
</p>
