<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * View for aggregation module.
 * @package views
 */
?>
<?php include_once "session-context.phtml"; ?>

<h1>Select a variable to aggregate</h1>

<div class="select-aggregation-variable-form">
<?= $this->form ?>
</div>



<p class="subTableLink">
<a href="<?= $this->url(array('controller'=>'aggregation'), null, true) ?>">Back</a>
</p>
