<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * Login page.
 * @package views
 */
?>
<script  type="text/javascript" language='Javascript' src="<?=PATH_BASE_URL?>/js/auth_cram.js"></script>
<noscript class="noscript">Javascript must be actived in order to login</noscript>


<h1>
   User Management Module
</h1>
<div class="login-form">
    <h2>Please login:</h2>
    <?= $this->form ?>
</div>
