<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * Welcome view for english users.
 * @package views
 */
?>
<h1>Welcome to the E-forest web site!</h1>

<div class="content">
<br/>

<h2>What is E-forest?</h2> 
E-forest is a platform developed in the context of a project with the European Commission. <br/>
A framework Contract has been established to broaden and develop the knowledge base of the European Forest Data Centre (<a href="http://efdac.jrc.ec.europa.eu/">EFDAC</a>) hosted by the Joint Research Centre (JRC) of the European commission.<br/>
<br/>

The framework contract called "Framework contract for the provision of forest data and services in support to the EFDAC" has entered into force on October 15, 2008, for a duration of 48 months.

<h2>Objectives</h2> 
The main objectives of the platform are:
<ul>
<li>to provide a perspective on forest information at a European level by producing work and advice on issues that are potentially relevant to EU forest related policies;</li>
<li>to supply European Union decision-makers with processed, quality checked and timely policy relevant forest data and information within the EU and territories where EU policies are operating.</li>
</ul>
<br/>

<h2>Mechanism</h2> 
From a specific need of the JRC, the E-forest consortium is requested to elaborate a technical proposal for thematic analysis services or data processing services. <br/>
If the proposal is accepted by the JRC, it leads to a Specific Contract (SC) between the JRC and the E-forest consortium. <br/>
The basement of the E-forest platform is the first SC. <br/>
Other SC are in progress, which concern the enrichment of the E-forest platform with forest related data (SC3, 5 and 6) or new platform modules (SC2).<br/>
<br/>

<h2>Members</h2> 
To date 21 European countries are part of the E-forest consortium. <br/>
The number of consortium members is not fixed. Any country or organization which collects national forest data can join the consortium at any time.<br/>
<br/>
<div style="text-align: center; width:100%">
<img height="400" src="<?=PATH_BASE_URL.'/img/SC9_Members.jpg'?>">
</div>



<h2>Results</h2>
The Specific Contracts aiming at the E-forest platform enrichment (SC3, 5 and 6) ended in December 2010. 
This is now possible for the JRC and the partner countries to access aggregated data in the form of tables, spatial representations or maps.
The data can be visualized using 3 types of tools:
<ul>

<li style="margin-bottom:20px; margin-top:20px">The data query builder to choose a dataset (up to now only SC3, 5 and 6 data are available), to choose the variables of interest for the user (tree species, country, etc.) and to display the results in tables and as spatial representations.<br/>
<div style="text-align: center; width:100%;">
<a href="<?=PATH_BASE_URL.'/img/PinusSylvestris_distribution.png'?>" target="_screeshot"><img height="300" src="<?=PATH_BASE_URL.'/img/PinusSylvestris_distribution.png'?>"></a>
<p style="font-weight:bold">Example of a spatial representation: distribution of Scots Pine (<i>Pinus sylvestris</i>) in Europe. (click to enlarge)</p>
</div>
</li>

<li style="margin-bottom:20px; margin-top:20px">The interactive tools used to interpolate or aggregate the results from a query.
The aggregation tool provides spatial representations according to 3 criteria: the grid size (50×50 km or 100×100 km), the tree species and the quantitative data to be aggregated (only basal area for now). To estimate the value of the basal area on each 50×50 km or 100×100 km grid cell, the selected method is a simple mean of the basal area in inventory plots located in the cell. This method will be enhanced in SC8.
<div style="text-align: center; width:100%">
<a href="<?=PATH_BASE_URL.'/img/Aggregation.png'?>" target="_screeshot"><img height="300" src="<?=PATH_BASE_URL.'/img/Aggregation.png'?>"></a>
<p style="font-weight:bold">Results of the aggregation tool. (click to enlarge)</p>
</div>
The interpolation tool smoothes the quantitative variables (only basal area for now) and thus calculates the basal area values in the plot surroundings using an interpolation technique: the Inverse Distance Weighted Interpolation (IDW). The user can choose 4 parameters: the quantitative data to be aggregated (only basal area for now), the grid size (2×2 km, 5×5 km or 10×10 km), the interpolation method (currently only IDW is available) and the maximum distance where nearby plots are taken into account.
</li>

<li style="margin-bottom:20px; margin-top:20px">Static maps, which are previously produced to be used as ready-built maps and so are available in a limited number:
<ul>
<li>Map of forest plot distribution. To guarantee the confidentiality of the plot locations, this map is a raster layer with a 1km/pixel scale brought up into line with the INSPIRE 1×1 km Grid. If a cell contains at least one forest plot, then the cell is considered as a forest cell.</li>
<li>Map of inventory plot distribution (to show the richness of NFI data). The same process as for the forest plot distribution map to guarantee the confidentiality of the plot locations has been applied. If a cell contains only forest plots, then the cell is considered as a forest cell. If a cell contains only non forest plots, then the cell is considered as a non forest cell. If a cell contains forest plots and non forest plots, the cell is considered as a forest and non forest cell.</li>
<li>Map of tree species groups (majority of conifers or broadleaves). In this map three classes are differentiated: conifers, broadleaves and not defined (if there is no tree species in a cell, e.g. for clearcuts).</li>
<li>Map of tree species groups for harmonized diameter at breast height (dbh) &gt; 12 cm. The 12 cm dbh is the largest measured threshold among all the NFIs part of the consortium. So, by taking into account only dbh &gt; 12 cm we will be able to produce results with a harmonized dbh. The same rules to determine if the cell is classified as conifers, broadleaves or not defined is applied.</li>
</ul>
<div style="text-align: center; width:100%">
<a href="<?=PATH_BASE_URL.'/img/GroupesEssence.png'?>" target="_screeshot"><img height="300" src="<?=PATH_BASE_URL.'/img/GroupesEssence.png'?>"></a>
<p style="font-weight:bold">Example of a map viewer: tree species groups. (click to enlarge)</p>
</div>
</li>

</ul>

The access to the E-forest platform is restricted to the JRC and to the consortium members.


</div>