<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */

/**
 * Welcome view for french users.
 * @package views
 */
?>
<h1>Bienvenue sur le site internet E-forest !</h1>

<div class="content">
<br/>

<h2>Qu’est-ce qu’E-forest ?</h2> 
E-forest est une plate-forme développée dans le cadre d’un projet avec la Commission Européenne. <br/>
Un contrat cadre a été établi pour élargir et développer les connaissances de base du Centre de Données sur les Forêts Européennes (<a href="http://efdac.jrc.ec.europa.eu/">EFDAC</a>) géré par le Centre Commun de Recherche (CCR) de la Commission Européenne.<br/>
<br/>

Le contrat cadre appelé "Framework contract for the provision of forest data and services in support to the EFDAC" est entré en vigueur le 15 Octobre 2008 pour une durée de 48 mois.

<h2>Objectifs</h2> 
Les principaux objectifs de la plate-forme sont :
<ul>
<li>Fournir une perspective sur l’information forestière à un niveau européen afin de répondre aux problématiques importantes pour les politiques européennes relatives aux forêts;</li>
<li>Fournir aux décisionnaires de l’Union Européenne des données et informations forestières traitées, vérifiées, de qualité et actualisée au sein de l’Union Européenne et sur les territoires ou les politiques européennes sont appliquées.</li>
</ul>
<br/>

<h2>Fonctionnement</h2> 
A partir d’un besoin spécifique du CCR, le consortium E-forest élabore une proposition technique pour des services d’analyse thématique ou de traitement de données. 
Si la proposition est acceptée par le CCR, un Contract Spécifique (SC) est signé entre le CCR et le consortium E-forest. 
Le premier SC signé a été l’établissement des bases de la plate-forme E-forest. 
D’autres SC sont en cours, ils concernent l’enrichissement de la plate-forme E-forest avec des données relatives aux forêts (SC3, 5 et 6) ou de nouveaux modules pour la plate-forme (SC2).<br/>

<h2>Membres</h2> 
A ce jour 21 pays européens font partie du consortium E-forest.<br/>
Le nombre de membres du consortium n’est pas fixé. Chaque pays ou organisme collectant des données forestières nationales peut rejoindre le consortium à tout moment.<br/>
<br/>
<div style="text-align: center; width:100%">
<img height="400" src="<?=PATH_BASE_URL.'/img/SC9_Members.jpg'?>">
</div>


<h2>Résultats</h2>
Les premiers contrats d’enrichissement de la plate-forme E-forest (SC3, 5 et 6) ont pris fin en décembre 2010. 
Il est à présent possible pour le CCR et les pays partenaires d’accéder aux données transformées sous forme de représentations spatiales, cartes et tableaux. 
3 outils permettent de visualiser les données :
<ul>

<li style="margin-bottom:20px; margin-top:20px">le requêteur qui permet de choisir un lot de données (pour l’instant seules les données des SC3, 5 et 6 sont disponibles), de choisir les variables d’intérêt pour l’utilisateur (essence, pays, etc.) et de générer les résultats sous forme de tableaux et représentations spatiales.<br/>
<div style="text-align: center; width:100%;">
<a href="<?=PATH_BASE_URL.'/img/PinusSylvestris_distribution.png'?>" target="_screeshot"><img height="300" src="<?=PATH_BASE_URL.'/img/PinusSylvestris_distribution.png'?>"></a>
<p style="font-weight:bold">Exemple d’une représentation spatiale: distribution du Pin sylvestre (<i>Pinus sylvestris</i>) en Europe. (cliquer pour agrandir)</p>
</div>
</li>

<li style="margin-bottom:20px; margin-top:20px">les outils interactifs qui permettent, à partir d’une requête, d’effectuer une interpolation ou une agrégation sur les résultats. 
L’outil d’agrégation fournit des représentations spatiales selon 3 critères : la taille de la grille utilisée (50×50 km ou 100×100 km), l’essence et la donnée quantitative à agréger (seule la surface terrière est disponible pour le moment). Pour estimer la valeur de la surface terrière sur chaque cellule de la grille de 50×50 km ou de 100×100 km, la méthode utilisée est une simple moyenne de la surface terrière des points d’inventaire localisés dans la cellule. Cette méthode sera améliorée lors du SC8.
<div style="text-align: center; width:100%">
<a href="<?=PATH_BASE_URL.'/img/Aggregation.png'?>" target="_screeshot"><img height="300" src="<?=PATH_BASE_URL.'/img/Aggregation.png'?>"></a>
<p style="font-weight:bold">Résultats de l’outil d’agrégation. (cliquer pour agrandir)</p>
</div>
L’outil d’interpolation lisse les variables quantitatives (seule la surface terrière est disponible pour le moment) et ainsi calcule des valeurs de surface terrière dans les environs du point d’inventaire en utilisant une technique d’interpolation : la Pondération Inverse à la Distance (PID). L’utilisateur peut choisir 4 paramètres : la donnée quantitative à agréger (seule la surface terrière est disponible pour le moment), la taille de la grille (2×2 km, 5×5 km ou 10×10 km), la méthode d’interpolation (seule la PID est disponible pour le moment) et la distance maximale pour laquelle les points environnants sont pris en compte.
</li>

<li style="margin-bottom:20px; margin-top:20px">les cartes statiques, qui sont pré-produites et donc en nombre limité :
<ul>
<li>Carte de la distribution des points forêt. Afin de garantir la confidentialité sur la localisation des placettes cette carte est une couche raster avec une échelle d’1km/pixel, callée sur la grille INSPIRE 1×1 km. Si une cellule contient au moins une placette forêt alors la cellule est considérée comme forêt.</li>
<li>Carte de la distribution des placettes d’inventaire. Même processus que pour la carte de la distribution des points forêt afin de garantir la confidentialité. Si la cellule contient seulement des placettes forêt alors la cellule est considérée comme forêt. Si la cellule contient uniquement des placettes non-forêt alors la cellule est considérée comme non-forêt. Si la cellule contient à la fois des placettes forêt et non-forêt alors la cellule est considérée comme forest et non-forêt.</li>
<li>Carte des groupes d’essences (majorité de conifères ou de feuillus). Trois groupes sont différenciés : conifères, feuillus ou non défini (lorsqu’il n’y a pas d’essence dans une cellule, pour une coupe rase par exemple).</li>
<li>Carte des groupes d’essences pour un diamètre à hauteur de poitrine (dhp) harmonisé à 12cm. Le dhp de 12 cm est la valeur seuil mesurée la plus élevé parmi tous les inventaires faisant partie du consortium. Les mêmes règles que pour la carte précédente sont appliquées.</li>
</ul>
<div style="text-align: center; width:100%">
<a href="<?=PATH_BASE_URL.'/img/GroupesEssence.png'?>" target="_screeshot"><img height="300" src="<?=PATH_BASE_URL.'/img/GroupesEssence.png'?>"></a>
<p style="font-weight:bold">Exemple d’une carte statique : groupes d’essences (conifères/feuillus). (cliquer pour agrandir)</p>
</div>
</li>

</ul>

L’accès à la plate-forme est restreint au CCR et aux membres du consortium.


</div>