<?php
/**
 * Licensed under EUPL v1.1 (see http://ec.europa.eu/idabc/eupl).
 *
 * © European Union, 2008-2012
 *
 * Reuse is authorised, provided the source is acknowledged. The reuse policy of the European Commission is implemented by a Decision of 12 December 2011.
 *
 * The general principle of reuse can be subject to conditions which may be specified in individual copyright notices.
 * Therefore users are advised to refer to the copyright notices of the individual websites maintained under Europa and of the individual documents.
 * Reuse is not applicable to documents subject to intellectual property rights of third parties.
 */


/**
 * Default view for the documentation module.
 * @package views
 */
?>

<h1>
   Documentation
</h1>

<div class="content">
<ul>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/Framework_Contract.pdf"?>" class="pagelink" >Framework Contract</a>
	</li>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/Framework_Contract_Public_Presentation.pdf"?>" class="pagelink" >Framework Contract Presentation</a>
	</li>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/Subcontract_Gal.doc"?>" class="pagelink" >Contract of Subcontracting Template</a>
	</li>
	<li>
	<a href="<?php echo PATH_BASE_URL."/pdf/Confidentiality_Agreement_Template.doc"?>" class="pagelink" >Confidentiality Agreement Template</a>
	</li>
</ul>

</div>